#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */

  --box-size: 10pt;
  --box-gap: 1.2pt;
  /* --box-size: 10vw;
  --box-gap: 0.1vw; */
  --box-color: green;
  --box-default-color: hsl(0, 0%, 90%);
  --border-color: hsla(0, 0%, 0%, 10%);
}

.box {
  font-size: 10;
  height: var(--box-size);
  width: var(--box-size);
  border: 1pt solid var(--border-color);
  border-radius: 3pt;
  /* background-color: var(--box-color); */
  margin: var(--box-gap);
}

.heatmap-container {
  display: flex;
  float: left;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  column-gap: 0;
  row-gap: 0;
  max-height: calc(7*(var(--box-size) + 2*var(--box-gap)));
  min-width: calc(53*(var(--box-size) + 2*var(--box-gap)));
}

.heatmap-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}

/* .content {
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center
} */

.value-buttons {
  height: 100%;
  width: 10%;
}

/* @media screen and (max-width: 1080px) {
  body {
    min-width: 75vw;
  }
} */